
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.error {
  color: #ff0000;
}

.btnAlinear {
  line-height: 0px;
  display: flex;
  align-items: Center;
}

.btnMostrar {
  width: 10%;
  border-radius: 4px;
  background: #243c3c;
}

.login-form {
  width: 600px;
  background: #b3e1fc;
  padding: 30px;
  margin: auto;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  box-shadow: 7px 13px 37px #000;
}
.login-form h1 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  width: 100%;
  background: #4984c0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #c5ac1f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.login-form input {
  width: 100%;
  background: lightblue;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #5988ec;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.login-form p {
  height: 40px;
  text-align: left;
  font-size: 18px;
}
/*MENSAJE DE: ¿ya tienes cuenta? logueate*/
.login-form a {
  color: black;
  text-decoration: none;
}
.login-form a:hover {
  color: blue;
  text-decoration: underline;
}
.login-form input[type="submit"] {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.login-form input[type="button"] {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
form button {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
input {
  color: white;
}

.container-btn-mode {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

form button{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
input{
    color:white;
}
img.esp{
    width: 40px;
    height: auto;
}
img.eng{
    width: 40px;
    height: auto;
}

